
# os related
*.swp
.DS_Store

# caches
__pycache__
.mypy_cache

# env related
venv*
*venv
node_modules

# build related
build
dist
specs

# other files & directories
backups
data
*.key
keys
logs
output

*.csv
*.xlsx
*.json
*.yml
*.yaml
*.exe

!config.example.yaml
!conf-table.xlsx
!template.xlsx
!downlinks.example.json
!Gen-Downlinks.*
!MSB-UG6x-Conf.*